<% if session[:user_id] %>
  <%= link_to('Add new game',new_game_path)%> 
<% end %>
<ul>

    <% @games.each do |game| %>
 
          <h3>
         
          <%= game.status%>
          </h3>
      

        <li>
           <p> <%= game.teams[0].fc%> VS
           <%= game.teams[1].fc%> </p>
           <p> Date: <%= game.date %></p>
           <p> Time: <%= game.time %> </p>
        </li>
        <%if game.team_events[0].points === 0 && game.team_events[1].points === 0 && game.pending%>
          <%game.team_events.each{|event|%>
          <label>
          <%= event.team.fc%>:
          </label>
             <%= button_to 'Won', {:controller => :team_events, :action => 'update', :id => event.id }, :method => :patch %>
             <br>
          <% }%>
          <%= button_to "Tie  ", {:controller => :games, :action => 'close_event', :id => game.id }, :method => :patch %>
        <% else%>
        <%= button_to "Reset Result", {:controller => :team_events, :action => 'reset_event', :game_id => game.id }, :method => :patch %>
        <%end%>
        <br>
        <%= button_to "delete", {:controller => :games, :action => 'destroy', :id => game.id }, :method => :delete %>
        
        ___________________________________________<br>
    <% end %>
</ul>